//*ARQUITECTURAS*//
*
{
	font-family: arial;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none
}
section{
	overflow: hidden;
	width: 100%;
}
section article .uno{
margin: 0 auto;
overflow: hidden;
width: 100%;
}
header nav .logo{
	width: 180px;
}
header nav {
	align-items: center;
	display: flex;
	padding: 1em 0
}
nav ul{
	list-style: none;
	padding:  5px;
}
nav ul li{
	float: right;
	background-color: red;
}

section article .contenedor1 .bloques {
	display: flex;
	align-items: top;
	z-index: 1;
	position: absolute;
	padding: 0 0 3em 0;
}
section article .contenedor1 .bloques2 {
	display: flex;
	align-items: top;
	padding: 0 0 3em 0;
}
section article .contenedor1 .bloques3 {
	display: flex;
	align-items: top;
	padding: 0 0 3em 0;
}
.bloque1, .bloque2, .bloque3, {
	background-color: #f2f2f2;
	border-radius: 12px;
	display: inline-block;
	margin: 0 25px 0 0;
	overflow: hidden;
	width: 23%;
}
.bloque3{
	margin: 0;
}
section article {
	padding: 2.5em 0;
}
.fotoBloqueEstilo {
	width: 100%;
}
.txtBloque {
	overflow: hidden;
	padding: 1em;
	line-height: 16px;
}
.menuEjercicios {
	padding: 1em 0;
}
#bloqueAjax2{
	position: absolute;
  	z-index: 0;
}
#bloqueAjax3{
	position: absolute;
  	z-index: 0;
}

@media only screen and (max-width: 880px) {

  	section article .contenedor1 .bloques .bloque1 {
  		width: 100%;
  		display: block;
  		margin: 0;
  	}
  	.master{
    	width: 100%;
    	display: block;
    	margin: 0 0 0 .5px;
  	}

  	.bloque2, .bloque3, {
  		width: 100%;
  		display: block;
  		margin: 0;
  		margin: 0 0 2em 0;
  	}

  	#bloqueAjax{
  		display: block;
  	}


  	#uno {
  		display: block;
  		width: 100%;
  		margin: 0 0 2em 0;
  	}
}
//*TECNOLOGIA*//
.container-img
{
	width: 50%;
	display: flex;
	align-items: center;
}
.container-informacion
{
	width: 50%;
	height: auto;
	margin: 0 auto;
	display: flex;
	align-items: center;

}
.padre1{
	width: 100%;
	padding: 4em 0;

}

.hijo
{
	width: 100%;
	margin: 0 auto;
	display: flex;
}
.texto
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	height: 100px;
}